body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f3f7f7;
    color: #222;
}
header {
    background-color: #146c6b;
    color: white;
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
}
header h1 {
    color: #ffffff;
    text-shadow: 1px 1px 2px #000;
}
.profile-img {
    border-radius: 20px;
}
.logo-placeholder {
    width: 90px;
    height: 90px;
    background-color: white;
    color: #146c6b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
}
nav {
    background-color: #0f5251;
    padding: 12px;
    display: flex;
    gap: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
section {
    background-color: white;
    margin: 20px auto;
    padding: 25px;
    width: 85%;
    border-radius: 10px;
}
@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }
}
h1, h2 {
    color: #146c6b;
}
.hero {
    background-image: url(image.jpg);
    background-size: cover;
    height: 200px;
   
}
.mockup-box {
    padding: 15px;
    background-color: #e2f3f3;
    border-radius: 8px;
    margin-top: 15px;
}
footer {
    background-color: #0f5251;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
}
